PORT=8080
BASE_URL=http://localhost:${PORT}
LOG_LEVEL=info

POSTGRES_DB=clientmodbadges
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}